<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            margin-bottom: 30px;
        }

        .header h1 {
            color: #6366F1;
        }

        .content {
            margin-bottom: 30px;
        }

        .content p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #6366F1;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

        .footer {
            text-align: center;
            color: #777;
            font-size: 14px;
            margin-top: 50px;
        }

        .footer p {
            margin: 5px 0;
        }

        .footer .company {
            font-weight: bold;
            color: #6366F1;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Redefinir Senha</h1>
        </div>
        <div class="content">
            <p>Olá {{name}},</p>
            <p>Você solicitou a redefinição da sua senha. Clique no botão abaixo para redefinir sua senha:</p>
            <a href="{{link}}" class="button" target="_blank">Redefinir Senha</a>
        </div>
        <div class="footer">
            <p>Este e-mail foi enviado automaticamente pela <span class="company">Company</span>. Por favor, não
                responda.</p>
        </div>
    </div>
</body>

</html>